header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-left: -1%;
    margin-right: -1%;
    margin-top: -1%;
    background-color: #ffffff;
    /* Cor de fundo do header */
    color: #f7d601;
    /* Cor do texto */
}

.logo img {
    height: 50px;
    /* Tamanho da logo */
}

.lista_header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.lista_header a {
    text-decoration: none;
    color: #f7d601;
    font-weight: bold;
    transition: color 0.3s ease;
}

.lista_header a:hover {
    color: #f70101;
    /* Cor de destaque ao passar o mouse */
}






.img-sal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

.ultima-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;

}


.container {
    display: flex;
    justify-content: space-between;
    /* Espaçamento entre as colunas */
    gap: 20px;
    /* Espaço entre as colunas */
}

.column1 {
    flex: 1;
    /* Faz as colunas terem a mesma largura */
    text-align: center;
    /* Centraliza o texto e a imagem */
    font-size: 10px;

}

.column2 {
    flex: 1;
    /* Faz as colunas terem a mesma largura */
    text-align: center;
    /* Centraliza o texto e a imagem */
    font-size: 10px;

}


.column3 {
    flex: 1;
    /* Faz as colunas terem a mesma largura */
    text-align: center;
    /* Centraliza o texto e a imagem */
    font-size: 10px;

}


.perfume1 {
    width: 100%;
    /* Ajuste a largura conforme necessário */
    max-width: 150px;
    /* Limita a largura da imagem */
    height: auto;

    /* Mantém a proporção da imagem */
}

.perf2 {
    width: 200px;
    /* Define a largura */
    height: auto;
    /* A altura será ajustada automaticamente para manter a proporção */
}

.perfume3 {
    width: 100%;
    /* Ajuste a largura conforme necessário */
    max-width: 150px;
    /* Limita a largura da imagem */
    height: auto;
    /* Mantém a proporção da imagem */
}

.text {
    text-align: center;
    color: #f7d601;
}

.line-break {
    display: block;
    height: 3em;
    /* Ajuste a altura conforme necessário */
    content: "";
    /* Garante que o div não tenha conteúdo */
}

.line-break2 {
    display: block;
    height: 10em;
    /* Ajuste a altura conforme necessário */
    content: "";
    /* Garante que o div não tenha conteúdo */
}

.line-break3 {
    display: block;
    height: 10em;
    /* Ajuste a altura conforme necessário */
    content: "";
    /* Garante que o div não tenha conteúdo */
}

.line-break4 {
    display: block;
    height: 9em;
    /* Ajuste a altura conforme necessário */
    content: "";
    /* Garante que o div não tenha conteúdo */
}

.line-break5 {
    display: block;
    height: 10em;
    /* Ajuste a altura conforme necessário */
    content: "";
    /* Garante que o div não tenha conteúdo */
}

.line-break6 {
    display: block;
    height: 8em;
    /* Ajuste a altura conforme necessário */
    content: "";
    /* Garante que o div não tenha conteúdo */
}

.final {
    width: 2000px; /* Largura do contêiner */
    height: 150px; /* Altura do contêiner */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do contêiner */
  }
  
  .final img {
    width: 100%; /* Ajusta a largura da imagem para preencher o contêiner */
    height: 100%; /* Ajusta a altura da imagem para preencher o contêiner */
    object-fit: cover; /* Faz com que a imagem cubra todo o contêiner, mantendo a proporção */
  }

  .penultimo{
    text-align: center;
     color: #f7d601;
    }